go 1.21.7

use (
	./arc
	./arc/tests
	./archive
	./archivist
	./archivist/tests
	./bats
	./bats/tests
	./checksum
	./checksum/tests
	./gh
	./gh/tests
	./go
	./go/tests
	./golangci-lint
	./golangci-lint/tests
	./helm
	./helm-docs
	./helm-docs/tests
	./helm/tests
	./kafka
	./kafka/tests
	./kustomize
	./kustomize/tests
	./python
	./python/tests
	./quarto
	./quarto/tests
	./registry-config
	./registry-config/tests
	./slsa-verifier
	./slsa-verifier/tests
	./spectral
	./spectral/tests
	./xk6
	./xk6/tests
)
