go 1.23.2

use (
	./.dagger
	./apko
	./apko/tests
	./arc
	./arc/tests
	./archivist
	./archivist/tests
	./aws-cli
	./aws-cli/tests
	./bats
	./bats/tests
	./borgo
	./borgo/tests
	./checksum
	./checksum/tests
	./daggerverse-tool
	./daggerverse-tool/tests
	./gh
	./gh/tests
	./go
	./go/tests
	./golangci-lint
	./golangci-lint/tests
	./helm
	./helm-docs
	./helm-docs/tests
	./helm/examples/go
	./helm/tests
	./kafka
	./kafka/tests
	./kustomize
	./kustomize/tests
	./openapi-changes
	./openapi-changes/tests
	./openssh-server
	./openssh-server/tests
	./php
	./php-cs-fixer
	./php-cs-fixer/tests
	./php/examples/go
	./php/tests
	./phpstan
	./phpstan/tests
	./postgres
	./postgres/tests
	./psql
	./psql/tests
	./python
	./python/tests
	./quarto
	./quarto/tests
	./registry
	./registry-config
	./registry-config/tests
	./registry/tests
	./slsa-verifier
	./slsa-verifier/tests
	./spectral
	./spectral/tests
	./ssh-keygen
	./ssh-keygen/tests
	./stainless
	./stainless/tests
	./svix
	./svix/examples/go
	./svix/tests
	./trivy
	./trivy/examples/go
	./trivy/tests
	./xcaddy
	./xcaddy/tests
	./xk6
	./xk6/tests
)
