go 1.21.7

use (
	./arc
	./arc/tests
	./archive
	./archivist
	./archivist/tests
	./bats
	./bats/tests
	./checksum
	./checksum/tests
	./gh
	./gh/tests
	./go
	./go/tests
	./golangci-lint
	./helm
	./helm-docs
	./helm/tests
	./kafka
	./kustomize
	./kustomize/tests
	./quarto
	./slsa-verifier
	./spectral
	./xk6
)
