name: Publish

on:
  push:
    branches: [main]
    tags: ["**/v[0-9]+.[0-9]+.[0-9]+"]

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module:
          - arc
          - archivist
          - bats
          - borgo
          - checksum
          - gh
          - go
          - golangci-lint
          - helm
          - helm-docs
          - kafka
          - kustomize
          - python
          - quarto
          - registry-config
          - slsa-verifier
          - spectral
          - xk6

    steps:
      - name: Checkout repository
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5

      - name: Set up Nix
        uses: cachix/install-nix-action@8887e596b4ee1134dae06b98d573bd674693f47c # v26
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Set up magic Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@fc6aaceb40b9845a02b91e059ec147e78d1b4e41 # v4

      - name: Prepare Nix shell
        run: nix develop --impure .#ci

      - name: Publish
        run: nix develop --impure .#ci -c dagger publish
        env:
          DAGGER_MODULE: ${{ matrix.module }}
