name: Publish

on:
  push:
    branches: [main]

jobs:
  prepare-modules:
    name: Prepare modules
    runs-on: ubuntu-latest

    outputs:
      modules: ${{ steps.modules.outputs.modules }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Nix
        uses: cachix/install-nix-action@3715ab1a11cac9e991980d7b4a28d80c7ebdd8f9 # v27
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - name: Set up magic Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@87b14cf437d03d37989d87f0fa5ce4f5dc1a330b # v8

      - name: Prepare Nix shell
        run: nix develop --impure .#ci

      - name: List modules
        id: modules
        run: echo "modules=$(nix develop --impure .#ci -c bash -c 'just list | just as-json')" >> $GITHUB_OUTPUT

  publish:
    name: Publish
    runs-on: ubuntu-latest
    needs: prepare-modules
    strategy:
      fail-fast: false
      matrix:
        module: ${{ fromJson(needs.prepare-modules.outputs.modules) }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Publish module
        uses: dagger/dagger-for-github@847ae4458ef34fe9b5f566655957bde6d4891112 # v7.0.3
        with:
          module: ${{ matrix.module }}
          verb: publish
          cloud-token: ${{ secrets.DAGGER_CLOUD_TOKEN }}
          version: "0.15.2"
